.contact {
  background-color: rgba(255, 255, 255, 0);
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
  margin-top: 20px;
  margin-bottom: 40px;
  padding-left: 15px;
}
.submit {
  padding: 0.1em;
  background: rgb(5, 6, 19);
  padding-left: 1.2em;
  padding-right: 3.2em;
  border-radius: 50px;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: 2px 2px 10px #0000008c;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  margin-bottom: 10px;
  cursor: pointer;
}
.submit a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.submit p {
  margin: 5px;
  color: wheat;
  font-size: 1.2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.submit .icon {
  background: rgb(255, 255, 255);
  margin-left: 1em;
  color: rgb(5, 6, 19);
  font-size: 1.2rem;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2em;
  width: 2em;
  border-radius: 50px;
  right: 0.3em;
  transition: all 0.3s;
  box-shadow: -1px 1px 4px #000000;
}

.submit:hover .icon {
  cursor: pointer;
  width: calc(100% - 0.6em);
}

.submit .icon .svg {
  margin-top: 4px;
  font-size: 1.5rem;
  transition: transform 0.3s;
}

.submit:hover .icon .svg {
  font-size: 2rem;
  transform: translateX(0.1em);
}

.submit:active .icon {
  font-size: 1.4rem;
  transform: scale(0.95);
}

@media (max-width: 768px) {
  .contact {
    box-shadow: 0px 0px 5px #000000;
    padding: 10px;
    border-radius: 10px;
    margin: 0px;
    margin-top: 20px;
    margin-bottom: 0px;
    padding-left: 10px;
  }
  .submit {
    margin-top: 20px;
    padding-left: 0.1em;
    padding-right: 1.5em;
    font-size: 0.8rem;
  }

  .submit p {
    font-size: 0.9rem;
    font-weight: 300;
  }

  .submit .icon {
    font-size: 0.8rem;
  }
  .submit .icon .svg {
    font-size: 1.1rem;
  }
  .submit:hover .icon .svg {
    transform: none;
    font-size: 1rem;
  }

  .submit:active .icon {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .contact {
    display: none;
  }
}
