.cards {
  margin-right: 1%;
  margin-left: 1%;
}
.cards .container {
  display: flex;
  flex-direction: column;
  height: 254px;
  background-color: #fff;
  box-shadow: 12px 17px 30px rgba(0, 0, 0, 0.22);
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s;
  align-items: center;
  margin: 10px;
}

.cards .container:hover {
  transform: scale(1.05);
}
.cards .container:active {
  transform: scale(0.95) rotateZ(1.7deg);
}
