.card {
  margin: 30px;
  width: 300px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  /* border: 2px solid red; */
}

.header {
  background-color: #0a182c;
  color: #fff;
  margin: 5px;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  font-size: 18px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.397);
}

.body {
  padding: 20px;
}

.skill {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.skill-name {
  width: 120px;
  font-size: 16px;
}

.skill-level {
  width: 160px;
  height: 10px;
  background-color: #eee;
  border-radius: 10px;
  overflow: hidden;
  margin-left: 20px;
}

.skill-percent {
  background-color: #070e20;
  height: 100%;
}

.skill-percent-number {
  margin-left: 20px;
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  .card {
    flex-direction: row;
    margin: 30px auto;
    width: auto;
  }
}
@media screen and (max-width: 480px) {
  .card {
    flex-direction: column;
    margin: 30px auto;
  }
}
