.carrusel {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

    .carrusel img {
    scroll-snap-align: start;
    flex: 0 0 auto;
    width: 100%;
    height: auto;
}

    .carrusel-container {
    position: relative;
}

    .controls {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.controls button {
    background: lightblue;
  }