* {
  margin: 0%;
}
body {
  background-image: url("./image/fondo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.fondo {
  border-radius: 10px;
  margin-top: 100px;
  margin-bottom: 10px;
}
.landing .container {
  margin-top: 0px;
  display: flex;
  justify-content: space-between;
}
.landing .perfiles {
  text-align: center;
  padding: 20px;
  margin-left: 2%;
}
.landing .perfiles .foto {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  box-shadow: 2px 3px 10px #000000ab;
  width: 110px;
  margin-bottom: 0px;
  transition: 0.5s;
}
.landing .perfiles img:hover {
  cursor: pointer;
  transform: scale(1.1);
  transform: (5rem);
}

/* ---------- */
.info {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.info .p {
  margin-bottom: 15px;
  padding-bottom: 10px;
}
.info label {
  padding: 10px;
  border-radius: 10px;
  background: white;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.384);
}
.container-btw {
  display: flex;
}
.cards {
  border: 1px solid yellow;
  display: flex;
  flex-direction: column;
}
/* ---------- */
@media (max-width: 768px) {
  .landing .container {
    margin-top: -65px;
    display: flex;
    flex-direction: column;
  }
  .landing .perfiles {
    margin-left: -10px;
  }
  .info {
    margin-top: 0px;
  }
  .info .p {
    text-align: center;
  }
  s .landing .perfiles .foto {
    max-width: 90px;
  }
  .cards {
  }
}
@media (max-width: 480px) {
  .info {
    margin-top: 0px;
    margin: 1%;
  }
  .info .p {
    text-align: center;
  }
  .landing .container {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
  }
  .landing .perfiles {
    margin-top: 0px;
  }
  .flex {
    display: flex;
    flex-direction: row;
  }

  .landing .perfiles .foto {
    max-width: 90px;
  }
  .flexBtn {
    display: flex;
  }
  .cards {
    margin-top: -10px;
  }
}
